footer {
  p,
  span {
    color: $grayTextColor;
    @include OpenSans;
  }
}

#footer {
  @include grid(repeat(3, 1fr), auto, 1rem);
}

#footer-info-text {
  font-weight: bold;
  margin: 30px 0;
  width: 80%;
}

#footer-info-contacts {
  @include flex(column, flex-start, flex-start);
  gap: 15px;
}

.footer-info-contact-item {
  @include flex(row, flex-start, center);
  gap: 10px;
}

#footer-nav {
  @include flex(row, flex-start, flex-start);
  gap: 70px;
}

.footer-nav-section {
  h2 {
    margin-bottom: 30px;
  }
}

.footer-nav-section-list {
  @include flex(column, flex-start, flex-start);
  gap: 10px;
}

#footer-newsletter {
  h2 {
    margin-bottom: 30px;
  }
}

#footer-newsletter-form {
  @include flex(column, flex-start, flex-start);
  width: 100%;

  input {
    @include defaultPadding;
    border: 0;
    background-color: $skyColor;
    width: 100%;
    margin-bottom: 15px;
  }
}

#footer-developers {
  margin-top: 30px;
  border-top: 2px solid $skyColor;
  padding: 30px;
  text-align: center;
}
