#header {
  @include flex(row, space-between, center);
  font-family: NotoSerif, Arial, Helvetica, sans-serif;
  padding: 1.5rem 0;
}

#header-logo {
  width: 175px;
  height: auto;

  img {
    @include fitImage(center, contain);
  }
}

#header-nav {
  @include flex(row, flex-start, center);
  gap: 3rem;
}

.header-nav-item {
  a {
    @include defaultTransition;
    opacity: 0.7;
    &:hover {
      @include defaultTransition;
      opacity: 1;
    }
  }
}

#header-panel {
  @include flex(row, flex-start, center);
  gap: 2rem;
}

#header-account {
  @include flex(row, flex-start, center);
  gap: 1rem;
}
