/* COLORS */
$blackTextColor: #2c2c2c;
$primaryColor: #ff715b;
$whiteTextColor: #fff;
$grayColor: #f5ebe9;
$whiteColor: #fff;
$grayTextColor: #a79997;
$skyColor: #f8f8f8;
$purpleColor: #c549ff;
$redColor: #ff4566;
$yellowColor: #ffca45;
$darkBlueColor: #5f45ff;
$blueColor: #18a0fb;
$greenColor: #65ce54;
